<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Livros
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/">Listagem de livros</a>
            <a class="dropdown-item" routerLink="/addLivro">Cadastro de Livro</a>
            <a class="dropdown-item" routerLink="/listaUsuarios">Listagem de Usuários</a>
            <a class="dropdown-item" routerLink="/addUser">Cadastro de Usuários</a>
          </div>
        </li>
    </ul>
  </nav>