/* You can add global styles to this file, and also import other style files */
.back {
    background-color:#eeeeee
}
.backlightgreen {
    background-color:#abebbe
}
.backdarkgreen {
    background-color:#2e9457
}